<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>

<nav th:replace="layouts :: navbar"></nav>

<body>
	<div>
		<h4>Current Projects</h4>
		
		<table>
			<thead>
				<tr>
					<th>Project Name</th>
					<th>Project Stage</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="project : ${projectsList}">
					<td th:text="${project.name}"/>
					<td th:text="${project.stage}"/>
				</tr>
				
			</tbody>
		</table>
	</div>
	
	<div>
		<h4>Current Employees</h4>
		
		<table>
			<thead>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="employee : ${employeeList}">
					<td th:text="${employee.firstName}"/>
					<td th:text="${employee.lastName}"/>
					<td th:text="${employee.email}"/>
				</tr>
				
			</tbody>
		</table>
	</div>
</body>